@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

.display-flex() {
  display: -webkit-flex;
  display: flex;
}

.flex(@args) {
  flex: @args;
  -webkit-flex: @args;
}

.flex-direction(@args) {
  flex-direction: @args;
  -webkit-flex-direction: @args;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  .display-flex();
  .flex-direction(column);
}

a {
  color: #2E8BCC;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  .display-flex();
  .flex (1 0 auto);
  width: 100%;

  > * {
    .flex (0 0 50%);
  }

  @media (orientation: portrait) {
    .flex-direction(column);

    > * {
      .flex (1 0 auto);
    }
  }
}

main + footer {
  .flex (0 0 auto);
  padding: 5px;
  padding-left: 7px;

  font-family: 'Roboto Condensed', sans-serif;
  background-color: #eee;

  font-size: 90%;
  text-align: right;

  a {
    color: inherit;
  }
}

section {
  .display-flex();
  .flex-direction(column);

  > * {
    width: 100%;
  }
}

section header {
  position: relative;
  .display-flex();
  padding: 5px;
  padding-left: 7px;
  color: #888;
  background-color: #eee;

  h1 {
    font-family: 'Roboto Condensed', sans-serif;
  }

  select {
    font-family: 'Roboto Condensed', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    -webkit-appearance:none;
    padding-right: 10px;
  }

  .select-wrapper {
    position: relative;
    border: 1px solid #fff;

    &::after {
      content: '▾';
      position: absolute;
      right: 2px;
      top: 0;
      pointer-events: none;
    }
  }

  > .select-wrapper {
    position: absolute;
    margin-top: -2px;
  }

  option {
    color: #000;
  }

  a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

section h1 {
  display: inline;
  margin: 0;

  font-size: 100%;
  font-weight: normal;
}

section header,
section footer {
  .flex (0 0 auto);
}

section .content {
  .flex (1 0 auto);
  position: relative;
}

.code {
  .flex (1 0 auto);
}

.preview  {
  header {
    border-left: 1px solid #fff;
  }

  .content {
    border-left: 1px solid #aaa;
  }

  @media (orientation: portrait) {
    header {
      border-left: none;
      border-top: 1px solid #aaa;
    }

    .content {
      border-left: none;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

textarea, .CodeMirror {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;

  font-family: Consolas, Menlo, Monaco, monospace;
  line-height: 1.2;
}

.CodeMirror-cursors {
  z-index: 1000 !important;
}

.CodeMirror {
  .cursor-scope {
    background-color: rgba(218, 165, 32, 0.1);
  }
}